.contacts {
  position: absolute;
  top: 50%;
  left: 60%;
  padding: 4rem;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 40rem;
  border-radius: 1rem;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 2.8rem;
}

.inbox {
  margin-top: 1rem;
  display: flex;
}

.userhead {
  position: relative;
  width: 40%;
}

.icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background: white;
  border-radius: 50%;
  transform: scale(2);
}

.inbox-text {
  display: flex;
  flex-direction: column;
}

.username {
  color: #03e9f4;
  font-size: 2rem;
}

.username > span {
  color: #fff;
  font-size: 1.2rem;
}

.message {
  position: relative;
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: justify;
  color: #fff;
}

.delete {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #03e9f4;
}

hr {
  margin-top: 1rem;
}
