.services-form {
  margin: 1rem;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.6);
  width: 40rem;
  border-radius: 1rem;
}

.services-form .form-field {
  position: relative;
}

.services-form .form-field input {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 3rem;
  border: none;
  border-bottom: 0.1rem solid #fff;
  outline: none;
  background: transparent;
}

.services-form .form-field label {
  position: absolute;
  top: -2rem;
  left: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #fff;
  pointer-events: none;
}

.services-form input[type="submit"] {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  color: #03e9f4;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 4rem;
  letter-spacing: 0.4rem;
}

.services-form input[type="submit"]:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #03e9f4, 0 0 2.5rem #03e9f4, 0 0 5rem #03e9f4,
    0 0 10rem #03e9f4;
}
